## Accessing_Data_with_Index_and_Column

In [51]:
import pandas as pd 
import numpy as np

In [52]:
df = pd.read_csv("./student_data.csv")
df.head()

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka
1,PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Ms. Salma,Chattogram
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet
4,PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram

In [53]:
df['FullName'].head()

0         Alif Rahman
1       Fatima Akhter
2       Imran Hossain
3    Jannatul Ferdous
4         Kamal Uddin
Name: FullName, dtype: object

In [54]:
# loc [row -> index, col->features]
# df.loc[index, star:end, col_start, col_end]

df.loc[0]

StudentID                    PH1001
FullName                Alif Rahman
Data Structure Marks           85.0
Algorithm Marks                85.0
Python Marks                   88.0
CompletionStatus          Completed
EnrollmentDate           2024-01-15
Instructor                Mr. Karim
Location                      Dhaka
Name: 0, dtype: object

In [55]:
df.loc[[2,3,5]]

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi

In [56]:
df.loc[3:5]

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet
4,PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi

In [57]:
df.loc[:,['Python Marks']].head()

   Python Marks
0          88.0
1           NaN
2          85.0
3          82.0
4          95.0

In [58]:
df.loc[:,['Data Structure Marks','Python Marks','Algorithm Marks']].head()

   Data Structure Marks  Python Marks  Algorithm Marks
0                  85.0          88.0             85.0
1                  92.0           NaN             92.0
2                  88.0          85.0             88.0
3                  78.0          82.0             78.0
4                   NaN          95.0              NaN

In [59]:
df.loc[3:7,['CompletionStatus']].head()

  CompletionStatus
3        Completed
4      In Progress
5        Completed
6      In Progress
7        Completed

In [60]:
df.loc[3:7,['CompletionStatus','EnrollmentDate']].head()

  CompletionStatus EnrollmentDate
3        Completed     2024-02-12
4      In Progress     2024-03-05
5        Completed     2024-03-08
6      In Progress     2024-04-01
7        Completed     2024-04-22

## Changing Index and Columns and iloc

In [73]:
df_index = df.set_index('StudentID')

In [79]:
df_index.head()

,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
StudentID,,,,,,,,
PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka
PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Ms. Salma,Chattogram
PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka
PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet
PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram

In [82]:
df_index.iloc[3:7].head()

,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
StudentID,,,,,,,,
PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet
PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram
PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi
PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Mr. Karim,Dhaka

In [85]:
df_index.iloc[:,1:5].head()

,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus
StudentID,,,,
PH1001,85.0,85.0,88.0,Completed
PH1002,92.0,92.0,NaN,In Progress
PH1003,88.0,88.0,85.0,Completed
PH1004,78.0,78.0,82.0,Completed
PH1005,NaN,NaN,95.0,In Progress

In [90]:
df = df_index.rename(columns={"FullName":"Full Name"})

In [91]:
df.columns

Index(['Full Name', 'Data Structure Marks', 'Algorithm Marks', 'Python Marks',
       'CompletionStatus', 'EnrollmentDate', 'Instructor', 'Location'],
      dtype='object')