In [5]:
# range(Start , end , step)

for i in range (10) :
    print(i, "Hello world")

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world
6 Hello world
7 Hello world
8 Hello world
9 Hello world

In [7]:
for i in range (1,11) :
    print(i, "Hello world")

1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world
6 Hello world
7 Hello world
8 Hello world
9 Hello world
10 Hello world

In [10]:
for i in range (1,11,2) :
    print(i, "Hello world")

1 Hello world
3 Hello world
5 Hello world
7 Hello world
9 Hello world

In [13]:
for i in range (1,10) :
    for j in range (1,5):
        print(i, j , end=" - ")
    print()

1 1 - 1 2 - 1 3 - 1 4 -
2 1 - 2 2 - 2 3 - 2 4 -
3 1 - 3 2 - 3 3 - 3 4 -
4 1 - 4 2 - 4 3 - 4 4 -
5 1 - 5 2 - 5 3 - 5 4 -
6 1 - 6 2 - 6 3 - 6 4 -
7 1 - 7 2 - 7 3 - 7 4 -
8 1 - 8 2 - 8 3 - 8 4 -
9 1 - 9 2 - 9 3 - 9 4 -

In [18]:
i = 1
while i <= 10 :
    print(i,"Hello world")
    i=i+1

1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world
6 Hello world
7 Hello world
8 Hello world
9 Hello world
10 Hello world

In [19]:
i = 0 
while i < 3 :
    i += 1 
    if i == 2:
        break 
print("Done")

Done

In [20]:
for i in range(2): 
    for j in range(3): 
        if j == 1: 
            break
        print(i, j)

0 0
1 0

In [28]:
for i in range(3):
    if i == 1:
        break
    print(i)

0

In [22]:
for i in range(5):
    if i == 2:
        break
    print(i, end="")

01

In [23]:
count = 0
for n in [1, 2, 3, 4, 5]:
    if n % 2 != 0:
        continue
    count += 1
print(count)

2

In [25]:
s = 0
for i in range(1, 5):
    if i % 2 == 0:
        s += i
    else:
        s -= i
print(s)

2

In [27]:
for i in range(5, 0, -1):
    if i % 2 == 0:
        continue
    if i == 3:
        break
    print(i, end="")

5